* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* text */
.ml11 {
    font-size: 3.5em;
}

.ml11 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
}

.ml11 .line {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: #fff;
    transform-origin: 0 50%;
}

.ml11 .line1 {
    top: 0;
    left: 0;
}

.ml11 .letter {
    display: inline-block;
    line-height: 1em;
}
/* calculator */
.cal {
    border: 1px solid;
    box-shadow: 0 0 5px rgb(1, 255, 255), 0 0 25px rgb(1, 255, 255);
    background-color: #5bd4c4;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 300px;
    border-radius: 5%;
}

.sticker {
    display: block;
    object-fit: cover;
    width: 100px;
    position: absolute;
    right: 10px;
}

/* .sticker-2 {
    display: block;
    object-fit: cover;
    width: 50px;
    position: absolute;
    right: 10px;
    top: 10px;
    border-radius: 20px;
} */

.num {
    padding: 10px;
    margin: auto;
}

.button {
    background-color: rgb(231, 231, 231);
    width: 70px;
    margin: 5px;
    height: 40px;
    color: black;
}

.button:hover {
    box-shadow: 0 0 5px rgb(4, 193, 240), 0 0 25px rgb(4, 193, 240), 0 0 50px rgb(4, 193, 240), 0 0 100px rgb(4, 193, 240), 0 0 200px rgb(4, 193, 240);
}

.operator {
    background-color: rgb(104, 186, 214);
    width: 100px;
    height: 40px;
    margin: 5px;
    color: black;
}

.operator:hover {
    box-shadow: 0 0 5px rgb(4, 193, 240), 0 0 25px rgb(4, 193, 240), 0 0 50px rgb(4, 193, 240), 0 0 100px rgb(4, 193, 240), 0 0 200px rgb(4, 193, 240);
}